body { 
    background-color: #ccecfd;
}

h1 {
    text-align: center;
}
#game-container {
    position: relative;
    width: 100%;
    height: 80vh;
}

#controls {
    width: 100px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

#controls button {
    margin: 5px;
}
#present-boxes {
    margin: 0 auto;
}

.present-box {
    border-radius: 20%;
}
#drone {
    width: 300px;
    height: 150px;
}
.capsule {
    display: flex;
    align-items: baseline;
}

.prize-image {
    width: 800px;
    height: auto; 
}